/* global settings for css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gemunu Libre', sans-serif;
}

body, html {
    height: 100vh;
}
/* this is where i made the main grid for my page */
body {
    background-color: #777;
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto auto;
    grid-template-rows: 8% 18% 18% 15% 15% 15% auto;
    grid-template-areas: 
        "nav nav nav" 
        "hero hero hero" 
        "sidebar1 main main"
        "sidebar2 section section"
        "sidebar2 section section"
        "sidebar2 section section"
        "sidebar3 footer footer";
}
/* i used this to set the heading in the right position for the sidebar area */
sidebar1, sidebar2, sidebar3 {
    margin-block-start: .83em;
    margin-block-end: .83em;
    font-size: 3em;
    color: white;
    font-weight: bolder;
    border-right: 2.5px solid white;
    padding-right: 20px;
}

sidebar1 {
    grid-area: sidebar1;
}

sidebar2 {
    grid-area: sidebar2;
}

sidebar3 {
    grid-area: sidebar3;
    margin-top: 40px;
}
/* this set up the grid for my pictures sections */
section {
    grid-area: section;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 5fr 3fr 3fr;
    grid-template-areas: "section1 section1" "section2 section3" "section4 section5";
    grid-gap: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-area: nav;
    background-color: #777;
}

main {
    display: block;
    grid-area: main;
    margin: 15px 15px 15px 15px;
}

hero {
    grid-area: hero;
    background-image: url('https://lernantino-demo.netlify.app/assets/images/02-hero-bg.jpg');
    background-size: cover;
    font-size: 36px;
    color: white;
    border-bottom: 1px solid #777;
    position: relative;
}

section1 {
    grid-area: section1;
    background-image: url('https://image.shutterstock.com/z/stock-photo-ocean-wave-616494479.jpg');
    background-size: auto;
}

section2 {
    grid-area: section2;
    background-image: url('https://lernantino-demo.netlify.app/assets/images/02-portfolio-1.jpg');
    background-size: auto;
}

section3 {
    grid-area: section3;
    background-image: url('https://lernantino-demo.netlify.app/assets/images/02-portfolio-2.jpg');
    background-size: cover;
}

section4 {
    grid-area: section4;
    background-image: url('https://lernantino-demo.netlify.app/assets/images/02-portfolio-3.jpg');
    background-size: cover;
}

section5 {
    grid-area: section5;
    background-image: url('https://lernantino-demo.netlify.app/assets/images/02-run-buddy.jpg');
    background-size: cover;
}

section h3, section p {
    margin: 0;
    background-color: grey;
    padding: 15px 15px 15px 15px;
    line-height: 1;
}

footer {
    background-color: #777;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: right;
    margin-top: 15px;
    grid-area: footer;
}
/* tile was used for my pictures section */
.tile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
    color:white; 
}


nav div ul li, footer div ul li {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 3px;
    margin-right: 20px;
}

footer div ul li {
    float: right;
    margin: 20px 20px 20px 100px;
}

.subtitle {
    float: right;
    margin-top: 60px;
    padding: 20px;
}

h1 {
    float: left;
    margin: 0;
    background-color: grey;
    padding: 5px 1% 5px 6%;
    line-height: 1;
    color: white;
}

.subtitle {
    font-size: 36px;
    color: white;
    background-color: grey;
}

h2 {
    float: right;
}

h3 {
    font-size: 20px;
    padding:0px;
}


.about-text {
    display: block;
    justify-content: column;
    margin-left: 60px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navlinks li a, .footerlinks li a{ 
    font-size:24px;
    font-weight:bolder;
    color:white;
    text-decoration:none;
}
/* added hover over for all nav and footer links */
.navlinks li a:hover, .footerlinks li a:hover{
     color:black;
}
/* this helps my page resize on different devices */
@media screen and (max-width: 992px) {
    section {
        width: 100%;
        margin-top: 100px;
    }
}